<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewBag.Title - Shop Điện Thoại</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Assets/View/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Assets/View/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Assets/View/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Assets/View/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Assets/View/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/Assets/View/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/View/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/Assets/View/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
   @RenderPage("_layout_header.cshtml")
   
    <!-- end header -->
    <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main_slider" data-slide-to="0" class="active"></li>
                <li data-target="#main_slider" data-slide-to="1"></li>
                <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>Welcome to <strong class="color">MobiStore</strong></h1>
                                    <p>The best online mobile shop</p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                    <a class="btn btn-lg btn-primary" href="about.html" role="button">About </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                                    <figure><img src="~/Assets/View/images/mbstore.png" alt="img" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>Welcome to <strong class="color">MobiStore</strong></h1>
                                    <p>The best online mobile shop</p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                    <a class="btn btn-lg btn-primary" href="about.html" role="button">About</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box ">
                                    <figure><img src="~/Assets/View/images/mbstore.png" alt="img" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>Welcome to <strong class="color">MobiStore</strong></h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                    <a class="btn btn-lg btn-primary" href="about.html" role="button">About</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                                    <figure><img src="~/Assets/View/images/mbstore.png" alt="img" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class='fa fa-angle-right'></i>
            </a>
        </div>
    </section>
    <!-- plant -->
    <div id="plant" class="section  product">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        @RenderSection("plant", required: true)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clothes_main section ">

        @RenderBody()
    </div>
    <!-- end plant -->
    <!--about -->

   @RenderPage("_Layout_footer.cshtml")

    <!-- Javascript files-->
    <script src="~/Assets/View/js/jquery.min.js"></script>
    <script src="~/Assets/View/js/popper.min.js"></script>
    <script src="~/Assets/View/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/View/js/jquery-3.0.0.min.js"></script>
    <script src="~/Assets/View/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Assets/View/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assets/View/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/Assets/View/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
</body>
</html>