@model ModelEF.Model.Sanpham

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-save"></i>&nbsp; Chi tiết
}

<div>
    <h4> @Html.DisplayFor(model => model.Tensp)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien) vnđ
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.Mahang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahang)
        </dd>

       
    </dl>
</div>

